@charset"utf-8";
/* CSS Document */
.row:after,.row:before{content:"";display: table}
.row:after{clear:both;}

@media screen and (max-width: 599px){
	.head{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.logo{
		width:20%;
		float:left;
		height:auto;
	}
	.menuul{
		font-size:0px;
	}
	.bannerout{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.banner{
		width:100%;
		height:auto;
		max-width:100%;
	}
	.container{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.aa{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.picture{
		width:100%;
		margin-top:5%;
	}
	.text{
		font-size:0px;
	}
	.ull{
		font-size:0%;
	}
	.textin{
		font-size:0px;
	}
	.login{
		text-align:center;
		font-size:20px;
	}
	.foottext{
		display:none;
	}
	.foot{
		width:100%;
		height:100px;
		background-color:rgba(249,228,220,1.00);
	}
	.footmenuul{
		list-style-type:none;
		width:70%;
		font-size:22px;
		padding-top:45px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		color:rgba(91,45,45,1.00);
	}

	.menuli1{
		display:inline-block;
		float:left;
		padding-left:5%
	}
	.menuli2{
		display:inline-block;
		padding-left:5%;
		float:left;
		
	}
	.menuli3{
		display:inline-block;
		padding-left:5%;
		float:left;
		
	}
	.menuli4{
		display:inline-block;	
		float:left;	
		padding-left:5%;
	}
}
/*以上是599以下的尺寸*/
@media screen and (min-width: 600px) and (max-width: 799px) {
	.head{
		width:70%;
		margin-left:auto;
		margin-right:auto;
	}
	.logo{
		width:20%;
		height:auto;
		float:left;
	}
	.menuul{
		width:80%;
		font-size:0px;
	}
	.bannerout{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.banner{
		width:100%;
		height:auto;
		max-width:100%;
	}
	.container{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.aa{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.picture{
		width:100%;
		margin-top:5%;
	}
	.text{
		font-size:0px;
	}
	.ull{
		font-size:0%;
	}
	.textin{
		font-size:0px;
	}
	.login{
		text-align:center;
		font-size:20px;
	}
	.foottext{
		display:none;
	}
	.foot{
		width:100%;
		height:100px;
		background-color:rgba(249,228,220,1.00);
	}
	.footmenuul{
		list-style-type:none;
		width:70%;
		font-size:22px;
		padding-top:45px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		color:rgba(91,45,45,1.00);
	}

	.menuli1{
		display:inline-block;
		float:left;
		padding-left:6%;
	}
	.menuli2{
		display:inline-block;
		padding-left:10%;
		float:left;
		
	}
	.menuli3{
		display:inline-block;
		padding-left:10%;
		float:left;
		
	}
	.menuli4{
		display:inline-block;	
		float:left;	
		padding-left:10%;
	}
}
/*以上是600~799px的尺寸*/
@media screen and (min-width: 800px) and (max-width: 914px) {
	.head{
		width:70%;
		margin-left:auto;
		margin-right:auto;
		height:auto;
	}
	.logo{
		width:20%;
		height:auto;
		float:left;
	}
	.menuul{
		display:none;
	}
	.bannerout{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.banner{
		width:100%;
		height:auto;
		max-width:100%;
	}
	.container{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.aa{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.picture{
		width:100%;
		margin-top:5%;
	}
	.text{
		font-size:0px;
	}
	.ull{
		font-size:0%;
	}
	.textin{
		font-size:0px;
	}
	.login{
		text-align:center;
		font-size:20px;
	}
	.foottext{
		display:none;
	}
	.foot{
		width:100%;
		height:100px;
		background-color:rgba(249,228,220,1.00);
	}
	.footmenuul{
		list-style-type:none;
		width:70%;
		font-size:22px;
		padding-top:45px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		color:rgba(91,45,45,1.00);
	}

	.menuli1{
		display:inline-block;
		float:left;
	}
	.menuli2{
		display:inline-block;
		padding-left:19%;
		float:left;
		
	}
	.menuli3{
		display:inline-block;
		padding-left:19%;
		float:left;
		
	}
	.menuli4{
		display:inline-block;	
		float:left;	
		padding-left:19%;
	}
}
/*以上是800px~914px的螢幕尺寸*/
@media screen and (min-width: 915px) and (max-width: 1080px) {
.head{
	width:69%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
.logo{
		width:20%;
		height:auto;
		max-width:100%;
		float:left;
	}
	.menuul{
		list-style-type:none;
		width:80%;
		font-size:20px;
		padding-top:70px;
		text-align:center;
		margin-left:140px;
	}
	.menuli1{
		display:inline-block;
		padding-right:13%;
	}
	.menuli2{
		display:inline-block;
		padding-right:13%;
		
	}
	.menuli3{
		display:inline-block;
		padding-right:13%;
		
	}
	.menuli4{
		display:inline-block;		
	}
	.bannerout{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.banner{
		width:100%;
		height:auto;
		max-width:100%;
	}
	.container{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.aa{
		width:100%;
		height:auto;
		margin-top:15%;
	}
	.picture{
		width:50%;
		height:auto;
		float:left;
	}
	.new{
		width:35%;
		height:auto;
		display:inline-block;
	}
	.text{
		font-weight:bold;
		font-size:20px;
		margin-left:30%;
	}
	.textin{
		margin-left:30%;
		padding-top:5%;
		font-size:18px;
	}
	.ull{
		list-style-type:none;
		font-size:14px;
		margin-left:20%;
	}
	.login{
		margin-left:100%;
		letter-spacing:3px;
		font-size:16px;
	}
	.foottext{
		font-size:16px;
		text-align:center;
		padding-top:50px;
		margin-top:5%;
		color:rgba(91,45,45,1.00);
	}
	.foot{
		width:100%;
		height:100px;
		background-color:rgba(249,228,220,1.00);
	}
	.footmenuul{
		display:none;
	}
}
/*以上是915px~1080px的螢幕尺寸*/
@media screen and (min-width:1081px) and (max-width: 1499px){
	.head{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.logo{
		width:20%;
		max-width:100%;
		height:auto;
		float:left;
	}
	.menuul{
		width:80%;
		text-align:center;
		list-style-type:none;
		font-size:20px;
		padding-top:7%;
		margin-left:7%;
	}
	.menuli1{
		display:inline-block;
		padding-left:8%;
	}
	.menuli2{
		display:inline-block;
		padding-left:8%;
	}
	.menuli3{
		display:inline-block;
		padding-left:8%;
	}
	.menuli4{
		display:inline-block;
		padding-left:8%;
	}
	.bannerout{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.banner{
		width:100%;
		height:auto;
		max-width:100%;
	}
	.container{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.aa{
		width:100%;
		height:auto;
		margin-top:15%;
	}
	.picture{
		width:50%;
		max-width:50%;
		height:auto;
		float:left;
	}
	.new{
		width:35%;
		height:auto;
		display:inline-block;
	}
	.text{
		font-weight:bold;
		font-size:26px;
		margin-left:30%;
	}
	.textin{
		margin-left:30%;
		padding-top:5%;
		font-size:18px;
	}
	.ull{
		list-style-type:none;
		margin-left:20%;
	}
	.login{
		padding-top:3%;
		margin-left:100%;
		letter-spacing:3px;
		font-size:20px;
	}
	.foottext{
		font-size:18px;
		text-align:center;
		padding-top:50px;
		margin-top:5%;
		color:rgba(91,45,45,1.00);
	}
	.foot{
		width:100%;
		height:100px;
		background-color:rgba(249,228,220,1.00);
	}
	.footmenuul{
		display:none;
	}
}
/*以上是1081px~1499px的螢幕尺寸*/
@media screen and (min-width: 1500px) {
	.head{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.logo{
		width:20%;
		max-width:20%;
		height:auto;
		float:left;
		max-width:100%;
	}
	.menuul{
		list-style-type:none;
		width:80%;
		font-size:22px;
		padding-top:50px;
		text-align:center;
	}
	.menuli1{
		display:inline-block;
		padding-right:13%;
	}
	.menuli2{
		display:inline-block;
		padding-right:13%;
		
	}
	.menuli3{
		display:inline-block;
		padding-right:13%;
		
	}
	.menuli4{
		display:inline-block;		
	}
	.bannerout{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.banner{
		width:100%;
		height:auto;
		max-width:100%;
	}
	.container{
		width:70%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	.aa{
		width:100%;
		height:auto;
		margin-top:15%;
	}
	.picture{
		width:50%;
		max-width:50%;
		height:auto;
		float:left;
	}
	.new{
		width:35%;
		height:auto;
		display:inline-block;
	}
	.text{
		font-weight:bold;
		font-size:26px;
		margin-left:30%;
	}
	.textin{
		margin-left:30%;
		padding-top:5%;
		font-size:18px;
	}
	.ull{
		list-style-type:none;
		font-size:18px;
		margin-left:20%;
	}
	.login{
		padding-top:6%;
		margin-left:80%;
		letter-spacing:3px;
		font-size:20px;
	}
	.foottext{
		font-size:18px;
		text-align:center;
		padding-top:50px;
		margin-top:5%;
		color:rgba(91,45,45,1.00);
	}
	.foot{
		width:100%;
		height:100px;
		background-color:rgba(249,228,220,1.00);
	}
	.footmenuul{
		display:none;
	}
}